@import url('/css/style.css');

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  padding: 40px 60px;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-left h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px; /* AUMENTO DA FONTE */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--cor-letras-navbar);

  text-shadow: 
    1px 1px 0 #28573F,
    2px 2px 0 #28573F,
    3px 3px 0 #28573F,
    4px 4px 0 #28573F;
}

.footer-socials {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.footer-socials a img {
  width: 32px;
  height: 32px;
  background-color: #2e2e2e;
  padding: 8px;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.footer-socials a img:hover {
  transform: scale(1.1);
}

.footer-right {
  display: flex;
  flex: 2;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.footer-column h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px; /* AUMENTO DA FONTE */
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--cor-letras-navbar);

  text-shadow: 
    1px 1px 0 #28573F,
    2px 2px 0 #28573F,
    3px 3px 0 #28573F,
    4px 4px 0 #28573F;
}

.footer-column a {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px; /* AUMENTO DA FONTE */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--cor-letras-navbar);

  text-shadow: 
    1px 1px 0 #28573F,
    2px 2px 0 #28573F,
    3px 3px 0 #28573F,
    4px 4px 0 #28573F;
}

.footer-column a:hover {
  color: var(--cor-secundaria);

}
