:root {
  --cor-primaria-clara: #6ad49e; /* Coral pastel */
  --cor-primaria: #57BD89; /* Coral pastel */
  --cor-primaria-escura: #3e835f; /* Coral mais fechado */
  --cor-primaria-escura-2: #215038; /* Coral mais fechado */
  --cor-secundaria: #FF814A; /* Verde menta pastel */
  --cor-secundaria-escura-2: #dd4200; /* Verde menta pastel */
  --cor-secundaria-escura: #fd6524; /* Verde menta pastel */
  --cor-secundaria-clara: #fa8d5e; /* Verde menta pastel */
  --cor-fundo: #fffaf5; /* Fundo bege clarinho, aconchegante */
  --cor-texto: #4b4b4b; /* Cinza escuro para contraste suave */
  --cor-destaque: #ffdd99; /* Amarelo pastel para detalhes */
  --cor-letras-navbar: #ffecd2;
  --bege-claro: #e4c08f;
}




html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


* {
  box-sizing: border-box;
}