:root {
  --cor-primaria: #57BD89; /* Coral pastel */
  --cor-primaria-escura: #3e835f; /* Coral mais fechado */
  --cor-secundaria: #FF814A; /* Verde menta pastel */
  --cor-fundo: #fffaf5; /* Fundo bege clarinho, aconchegante */
  --cor-texto: #4b4b4b; /* Cinza escuro para contraste suave */
  --cor-destaque: #ffdd99; /* Amarelo pastel para detalhes */
  --cor-letras-navbar: #ffecd2;
  --bege-claro: #e4c08f;
}




/* Estilo global */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

